In [ ]:
class BaseSalary:
  def __init__(self, base_salary, bonus_rate = 0.1, symbol = '$'):
    self.base_salary = base_salary
    self.bonus_rate = bonus_rate
    self.symbol = symbol
    self.total_salary = base_salary * (1 +  bonus_rate)
    self.bonus = self.total_salary - self.base_salary

  def __repr__(self):
    return f'{self.symbol}{self.base_salary:,.0f}'
  def show_total(self):
    return f'{self.symbol}{self.total_salary:,.0f}'
  def show_bonus(self):
    return f'{self.symbol}{self.bonus:,.0f}'

In [ ]:
salary = BaseSalary(100000)

salary.symbol

'$'

In [ ]:
salary

$100,000

In [ ]:
salary.show_bonus()

'$10,000'

In [ ]:
class JobPosting:
  def __init__(self, title, company,location):
    self.title = title
    self.company = company
    self.location = location
  def __repr__(self):
    return f'{self.title}, {self.company}, {self.location}'

In [ ]:
job = JobPosting('Data Scientist', 'Tech Innovations', 'New York')

In [ ]:
job

Data Scientist, Tech Innovations, New York

In [ ]:
class JobPosting:
  def __init__(self, title, company, location, salary):
    self.title = title
    self.company = company
    self.location = location
    self.salary = salary

  def to_dict(self):
    return {
        'title': self.title,
        'company': self.company,
        'location': self.location,
        'salary': self.salary
    }

In [ ]:
job = JobPosting('Data Scientist', 'Tech Innovations', 'New York', 120000)

job.to_dict()

{'title': 'Data Scientist',
 'company': 'Tech Innovations',
 'location': 'New York',
 'salary': 120000}

In [ ]:
class JobPosting:
  def __init__(self, title, company, location, salary):
    self.title = title
    self.company = company
    self.location = location
    self.salary = salary

  def compare_salary(self, other_job):
    if self.salary > other_job.salary:
      return f'{self.title}, {self.salary}'
    else: return f'{other_job.title}, {other_job.salary}'

job1 = JobPosting('Data Scientist', 'Tech Innovations', 'New York', 120000)
job2 = JobPosting('Data Analyst', 'Data Driven Co', 'San Francisco', 100000)
print(job1.compare_salary(job2))

In [ ]:
job1 = JobPosting('Data Scientist', 'Tech Innovations', 'New York', 120000)
job2 = JobPosting('Data Analyst', 'Data Driven Co', 'San Francisco', 100000)
print(job1.compare_salary(job2)) #這行代碼調用了 job1 的 compare_salary 方法，並將 job2 作為參數傳入

Data Scientist, 120000

In [ ]:
class MySalary:
  def __init__(self, base_salary, bonus_rate = 0.1, symbol = '$'):
    self.base_salary = base_salary
    self.bonus_salary = bonus_rate
    self.symbol = symbol
    self.total_salary = base_salary * (1 + bonus_rate)
    self.bonus = self.total_salary - self.base_salary

  def __repr__(self):
    return f'{self.symbol}{self.base_salary:,.0f}'

  def calculate_salary(self):
    return f'{self.symbol}{self.total_salary:,.0f}'

  def calculate_bonus(self):
    return f'{self.symbol}{self.bonus:,.0f}'

In [ ]:
salary = MySalary(100000)
salary.base_salary