In [ ]:
skills_types = {'Database': 'Postgressql', 'language': 'sql'}
skills_types

{'Database': 'Postgressql', 'language': 'sql'}

In [ ]:
job_postings = {'Data Scientist': 120, 'Data Analyst': 80, 'Machine Learning Engineer': 50}
job_postings

{'Data Scientist': 120, 'Data Analyst': 80, 'Machine Learning Engineer': 50}

In [ ]:
job_postings['Data Analyst']

80

In [ ]:
job_postings = {'Data Scientist': 120, 'Data Analyst': 80, 'Machine Learning Engineer': 50}
job_postings['AI Specialist'] = 30
job_postings

{'Data Scientist': 120,
 'Data Analyst': 80,
 'Machine Learning Engineer': 50,
 'AI Specialist': 30}

In [ ]:
help(dict)

Help on class dict in module builtins:

class dict(object)
 |  dict() -> new empty dictionary
 |  dict(mapping) -> new dictionary initialized from a mapping object's
 |      (key, value) pairs
 |  dict(iterable) -> new dictionary initialized as if via:
 |      d = {}
 |      for k, v in iterable:
 |          d[k] = v
 |  dict(**kwargs) -> new dictionary initialized with the name=value pairs
 |      in the keyword argument list.  For example:  dict(one=1, two=2)
 |
 |  Built-in subclasses:
 |      StgDict
 |
 |  Methods defined here:
 |
 |  __contains__(self, key, /)
 |      True if the dictionary has the specified key, else False.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the dict keys.
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      D.__sizeof__() -> size of D in memory, in bytes
 |
 |  clear(...)
 |      D.clear() -> None.  Remove all items from D.
 |
 |  copy(...)
 |      D.copy() -> a shallow copy of D
 |
 |  get(self, key, default=None, /)
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  items(...)
 |      D.items() -> a set-like object providing a view on D's items
 |
 |  keys(...)
 |      D.keys() -> a set-like object providing a view on D's keys
 |
 |  pop(...)
 |      D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
 |
 |      If the key is not found, return the default if given; otherwise,
 |      raise a KeyError.
 |
 |  popitem(self, /)
 |      Remove and return a (key, value) pair as a 2-tuple.
 |
 |      Pairs are returned in LIFO (last-in, first-out) order.
 |      Raises KeyError if the dict is empty.
 |
 |  setdefault(self, key, default=None, /)
 |      Insert key with a value of default if key is not in the dictionary.
 |
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  update(...)
 |      D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
 |      If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
 |      If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
 |      In either case, this is followed by: for k in F:  D[k] = F[k]
 |
 |  values(...)
 |      D.values() -> an object providing a view on D's values
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  fromkeys(iterable, value=None, /) from builtins.type
 |      Create a new dictionary with keys from iterable and values set to value.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [ ]:
job_postings = {'Data Scientist': 120, 'Data Analyst': 80, 'Machine Learning Engineer': 50}
job_postings.update({'AI Specialist': 30})
job_postings

{'Data Scientist': 120,
 'Data Analyst': 80,
 'Machine Learning Engineer': 50,
 'AI Specialist': 30}

In [ ]:
job_postings = {'Data Scientist': 120, 'Data Analyst': 80, 'Machine Learning Engineer': 50}
job_postings.pop('Machine Learning Engineer')
job_postings

{'Data Scientist': 120, 'Data Analyst': 80}

In [ ]:
job_postings1 = {'Data Scientist': 120, 'Data Analyst': 80}
job_postings2 = {'Machine Learning Engineer': 50, 'AI Specialist': 30}
job_postings1.update(job_postings2)
job_postings1

{'Data Scientist': 120,
 'Data Analyst': 80,
 'Machine Learning Engineer': 50,
 'AI Specialist': 30}

In [ ]:
type(job_postings1)

dict

In [ ]:
job_merged = {**job_postings1, **job_postings2}
job_merged

{'Data Scientist': 120,
 'Data Analyst': 80,
 'Machine Learning Engineer': 50,
 'AI Specialist': 30}

In [ ]:
job_details = {'Data Scientist': {'postings': 120, 'avg_salary': 120_000}, 'Data Analyst': {'postings': 80, 'avg_salary': 80_000}, 'Machine Learning Engineer': {'postings': 50, 'avg_salary': 110_000}}
job_details

{'Data Scientist': {'postings': 120, 'avg_salary': 120000},
 'Data Analyst': {'postings': 80, 'avg_salary': 80000},
 'Machine Learning Engineer': {'postings': 50, 'avg_salary': 110000}}

In [ ]:
job_salary_details = {'Python': 80000, 'Python': 70000}
job_salary_details

{'Python': 70000}

In [ ]:
job_detail = {'Data Analyst': 120, 'AI Specialist': 50}
job_detail.pop('AI Specialist')
job_detail

{'Data Analyst': 120}

In [ ]:
job_detail.update({'AI Specialist': 50})
job_detail

{'Data Analyst': 120, 'AI Specialist': 50}

In [ ]:
job_detail.pop('Engineer')

KeyError: 'Engineer'

In [ ]:
job_detail['Data Scientist'] = {'salary': 100000}
job_detail

{'Data Analyst': 120,
 'AI Specialist': 50,
 'Data Scientist': {'salary': 100000}}

In [ ]:
type(job_detail)

dict

In [ ]:
job_detail.pop('Data Analyst')
job_detail

{'AI Specialist': 50, 'Data Scientist': {'salary': 100000}}

In [ ]:
job_detail.update({'Data Analyst': {'postings': 100, 'salary': [100000, 120000]} })
job_detail

{'Data Analyst': {'postings': 100, 'salary': [100000, 120000]},
 'AI Specialist': 50,
 'Data Scientist': {'salary': 100000}}

Set from here

In [ ]:
unique_job_titles = {'Data Scientist', 'Data Analyst', 'Machine Learning Emgineer'}
unique_job_titles.add('AI Specialist')
unique_job_titles

{'AI Specialist',
 'Data Analyst',
 'Data Scientist',
 'Machine Learning Emgineer'}

In [ ]:
unique_job_titles= {'Data Scientist', 'Data Analyst', 'Machine Learning Engineer'}
unique_job_titles.remove('Data Analyst')
unique_job_titles

{'Data Scientist', 'Machine Learning Engineer'}

In [ ]:
type(unique_job_titles)

set

In [ ]:
job_locations = ['New York', 'San Francisco', 'New York', 'Austin', 'San Francisco']
list(set(job_locations))

['San Francisco', 'Austin', 'New York']

In [ ]:
skill_set1 = {'Python', 'SQL', 'Tableau'}
skill_set2 = {'R', 'SQL', 'Machine Learning'}
unique_skill_set = skill_set1.union(skill_set2)
unique_skill_set

{'Machine Learning', 'Python', 'R', 'SQL', 'Tableau'}

Tuple from here

In [ ]:
job_roles = ('Data Scientist', 'Data Analyst', 'Machine Learning Engineer')
job_roles[1]

'Data Analyst'

In [ ]:
job_roles = ('Data Scientist', 'Data Analyst', 'Machine Learning Engineer')
extended_job_roles = job_roles + ('AI Specialist',)
print(extended_job_roles)

('Data Scientist', 'Data Analyst', 'Machine Learning Engineer', 'AI Specialist')

In [ ]:
help(tuple)

Help on class tuple in module builtins:

class tuple(object)
 |  tuple(iterable=(), /)
 |
 |  Built-in immutable sequence.
 |
 |  If no argument is given, the constructor returns an empty tuple.
 |  If iterable is specified the tuple is initialized from iterable's items.
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Built-in subclasses:
 |      asyncgen_hooks
 |      UnraisableHookArgs
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [ ]:
job_roles1 = ('Data Analyst', 'Data Scientist', 'AI Specialist')
job_roles2 = ('Data Analyst', 'Busniess Analyst', 'Machine Learning Engineer')
all_roles = job_roles1 + job_roles2
all_roles

('Data Analyst',
 'Data Scientist',
 'AI Specialist',
 'Data Analyst',
 'Busniess Analyst',
 'Machine Learning Engineer')

In [ ]:
job_roles = ('Data Scientist', 'Data Analyst', 'Machine Learning Engineer')
job_roles_list = list(job_roles)
job_roles_list.remove('Data Analyst')
updated_role_list = tuple(job_roles_list)
updated_role_list

('Data Scientist', 'Machine Learning Engineer')

In [ ]:
job_postings = (120, 80, 50)
job_postings_list = list(job_postings)
job_posting1, job_postings2, job_postings3 = [data_scientist_postings, data_anaylst_postings, ml_engineer_postings]

In [ ]:
job_postings = (120, 80, 50)
job_postings_list = list(job_postings)
data_scientist_postings = job_postings_list[0]
data_analyst_postings = job_postings_list[1]
ml_engineer_postings = job_postings_list[2]
print(data_scientist_postings, data_analyst_postings, ml_engineer_postings)

120 80 50

In [ ]:
job_postings = (120, 80, 50)
data_scientist_postings, data_analyst_postings, ml_engineer_postings = job_postings
print(data_scientist_postings)
print(data_analyst_postings)
print(ml_engineer_postings)

120
80
50

In [ ]:
job_location = {'NY', 'Anywhere', 'Bos', 'NY'}
job_location

{'Anywhere', 'Bos', 'NY'}

In [ ]:
job_roles = ('Data Scientist', 'Data Analyst', 'Machine Learning Engineer')
new_job_roles = job_roles + ('AI Specialist',)
new_job_roles

('Data Scientist',
 'Data Analyst',
 'Machine Learning Engineer',
 'AI Specialist')

In [ ]:
job_roles = {'Data Scientist', 'Data Analyst', 'Machine Learning Engineer'}
job_roles_list = list(job_roles)
job_roles_list.remove('Data Analyst')
updated_roles_list = tuple(job_roles_list)
updated_roles_list

('Data Scientist', 'Machine Learning Engineer')

In [ ]:
job_postings = {120, 80, 50}
data_scientist_postings, data_analyst_postings, ml_engineer_postings = job_postings
print(data_scientist_postings)
print(data_analyst_postings)
print(ml_engineer_postings)

120
50
80

In [ ]:
job_details = (('Data Scientist', 120), ('Data Analyst', 80), ('Machine Learning Engineer', 50))
job_details
job_details[2][1:2]

50

In [ ]:
skill_set = ('python', 'sql')
updated_skill_set = skill_set + ('tableau',)
updated_skill_set

('python', 'sql', 'tableau')

In [ ]:
skill_set = ('python', 'sql', 'tableau')
skill_set_list = list(skill_set)
skill_set_list.remove('tableau')
updated_skill_set = tuple(skill_set_list)
updated_skill_set

('python', 'sql')

In [ ]:
type(updated_skill_set)

tuple

In [ ]:
salary = (110000, 100000, 90000)
data_scientist_salary, data_analyst_salary, ai_specialist_salary = salary
print(data_scientist_salary)
print(data_analyst_salary)
print(ai_specialist_salary)

110000
100000
90000

In [ ]:
batting_avg = (('Judge', .301), ('Ohtani', .298), ('Betts', .297))
batting_avg[2][1]