In [ ]:
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']
for titles in job_titles:
  print(titles)

Data Scientist
Data Analyst
Machine Learning Engineer

In [ ]:
job_postings = [5, 10, 15, 20, 25]
index = 0
postings = 0

while index < len(job_postings):
  postings += job_postings[index]
  index += 1
print(postings)

75

In [ ]:
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer']
for index, titles in enumerate(job_titles):
  print(index, titles)

0 Data Scientist
1 Data Analyst
2 Machine Learning Engineer

In [ ]:
job_titles = ['Data Scientist', 'Data Analyst', 'Machine Learning Engineer', 'Software Engineer']
index = 0

while index < len(job_titles):
  index += 1
  if 'Engineer' in job_titles[index]:
    print(job_titles[index])
    break

Machine Learning Engineer

In [ ]:
foods = ['apple', 'banana', 'blueberry', 'carrot', 'strawberry', 'orange']
index = 0

while index < len(foods):
  if 'berry' in foods[index]:
    print(foods[index])
    break
  index += 1

blueberry

In [ ]:
foods = ['apple', 'banana', 'blueberry', 'carrot', 'strawberry', 'orange']
index = 0

for food in foods:
  if 'berry' in foods[index]:
    print (foods[index])
    break
  index += 1

blueberry

In [ ]:
positions_skills = {
    'Data Scientist': ['Python', 'R'],
    'Data Analyst': ['SQL', 'Excel'],
    'Machine Learning Engineer': ['Python', 'TensorFlow']
}

for position, skills in positions_skills.items():
  for skill in skills:
    print(position, "has to have the ability of", skill)

Data Scientist has to have the ability of Python
Data Scientist has to have the ability of R
Data Analyst has to have the ability of SQL
Data Analyst has to have the ability of Excel
Machine Learning Engineer has to have the ability of Python
Machine Learning Engineer has to have the ability of TensorFlow

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'date', 'elderberry']


for fruit in fruits:
  print("Fruit", index + 1, ":", fruit)
  index += 1

Fruit 1 : apple
Fruit 2 : banana
Fruit 3 : cherry
Fruit 4 : date
Fruit 5 : elderberry

In [ ]:
fruits = ['apple', 'banana', 'cherry', 'date', 'elderberry']

for fruit in fruits:
  print("Fruit:", fruit)

Fruit: apple
Fruit: banana
Fruit: cherry
Fruit: date
Fruit: elderberry

In [ ]:
colors = ['red', 'green', 'blue', 'yellow', 'purple']
index = 0
color = 0

while index < len(colors):
  print("Color", index + 1, ":",  colors[index])
  index += 1

Color 1 : red
Color 2 : green
Color 3 : blue
Color 4 : yellow
Color 5 : purple

In [ ]:
colors = ['red', 'green', 'blue', 'yellow', 'purple']
index = 0

while index < len(colors):
    print("Color: ", colors[index])
    index += 1

Color:  red
Color:  green
Color:  blue
Color:  yellow
Color:  purple

In [ ]:
numbers = [1, 3, 5, 7, 9, 11, 13]
total_sum = 0

for number in numbers:
  total_sum += number
print(total_sum)

49

In [ ]:
cities = ['Tokyo', 'Paris', 'New York', 'Berlin', 'Sydney']
index = 0

while index < len(cities):
  print("City", index + 1, ":", cities[index])
  index += 1

City 1 : Tokyo
City 2 : Paris
City 3 : New York
City 4 : Berlin
City 5 : Sydney

In [ ]:
fruit_inventory = {
    'apple': 3,
    'banana': 6,
    'orange': 2,
    'grape': 8,
    'kiwi': 5
}

for fruit, qty in fruit_inventory.items():
    print("There are", qty, fruit + "s")

There are 3 apples
There are 6 bananas
There are 2 oranges
There are 8 grapes
There are 5 kiwis

In [ ]:
numbers = [4, 9, 16, 25, 36, 49, 64, 81, 100]
even_numbers = []

for number in numbers:
  if number % 2 == 0:
    even_numbers.append(number)
print(even_numbers)

[4, 16, 36, 64, 100]

In [ ]:
scores = [55, 72, 89, 33, 66, 41, 90, 58]

for score in scores:
  if score >= 60:
    print(score)

72
89
66
90

In [ ]:
scores = [55, 72, 89, 33, 66, 41, 90, 58]
passed_score = []


for score in scores:
  if score >= 60:
    passed_score.append(score)
print(passed_score)

[72, 89, 66, 90]

In [ ]:
words = ["apple", "pear", "banana", "kiwi", "mango", "pineapple", "fig"]

for word in words:
  if len(word) > 4:
    print(word)

apple
banana
mango
pineapple

In [ ]:
words = ["apple", "pear", "banana", "kiwi", "mango", "pineapple", "fig"]
longer_words = []

for word in words:
  if len(word) > 4:
    longer_words.append(word)
print(longer_words)

['apple', 'banana', 'mango', 'pineapple']

In [ ]:
numbers = [10, 15, 20, 25, 30, 35, 40, 45, 50]

for number in numbers:
  if number % 2 == 1:
    print(number)

15
25
35
45

In [ ]:
numbers = [10, 15, 20, 25, 30, 35, 40, 45, 50]
odd_numbers = []

for number in numbers:
  if number % 2 == 1:
    odd_numbers.append(number)
print(odd_numbers)

[15, 25, 35, 45]