In [ ]:
numbers = [x for x in range(5)]
numbers

[0, 1, 2, 3, 4]

In [ ]:
salaries_usd = [100000, 120000, 80000, 90000]
salaries_usd

[100000, 120000, 80000, 90000]

In [ ]:
salaries_eur = [salary*0.85 for salary in salaries_usd]
salaries_eur

[85000.0, 102000.0, 68000.0, 76500.0]

In [ ]:
salaries_eur = [salary*0.85 for salary in salaries_usd]
salaries_eur

[85000.0, 102000.0, 68000.0, 76500.0]

In [ ]:
job_experience = {'Data Scientist': 3, 'Data Analyst': 1, 'Machine Learning Engineer': 4, 'Data Engineer': 2}
advanced_job = [job for job, exp in job_experience.items() if exp > 2]
advanced_job

['Data Scientist', 'Machine Learning Engineer']

In [ ]:
job_experience = {'Data Scientist': 3, 'Data Analyst': 1, 'Machine Learning Engineer': 4, 'Data Engineer': 2}
advanced_job = [exp for job, exp in job_experience.items() if exp > 2]
advanced_job

[3, 4]

In [ ]:
job_salary_dicts = [{'job_title': 'Data Scientist', 'salary': 100000}, {'job_title': 'Data Analyst', 'salary': 120000}, {'job_title': 'Data Engineer', 'salary': 80000}, {'job_title': 'Machine Learning Engineer', 'salary': 90000}]
advance_job = [job['job_title'] for job in job_salary_dicts if job['salary'] > 90000]

advance_job

['Data Scientist', 'Data Analyst']

In [ ]:
job_salary_dicts = [{'job_title': 'Data Scientist', 'salary': 100000}, {'job_title': 'Data Analyst', 'salary': 120000}, {'job_title': 'Data Engineer', 'salary': 80000}, {'job_title': 'Machine Learning Engineer', 'salary': 90000}]
advance_job = [(job['job_title'], job['salary']) for job in job_salary_dicts if job['salary'] > 90000]

advance_job

[('Data Scientist', 100000), ('Data Analyst', 120000)]

# Re practice

In [ ]:
salaries_usd = [100000, 120000, 80000, 90000]
salaries_eur = [salary*.85 for salary in salaries_usd]
salaries_eur

[85000.0, 102000.0, 68000.0, 76500.0]

In [ ]:
job_experience = {'Data Scientist': 3, 'Data Analyst': 1, 'Machine Learning Specialist': 4, 'Data Engineer': 2}
advance_job = [job for job, exp in job_experience.items() if exp > 2]
advance_job

['Data Scientist', 'Machine Learning Specialist']

In [ ]:
job_experience = {'Data Scientist': 3, 'Data Analyst': 1, 'Machine Learning Specialist': 4, 'Data Engineer': 2}
advance_job = [(job, exp) for job, exp in job_experience.items() if exp > 2]
advance_job

[('Data Scientist', 3), ('Machine Learning Specialist', 4)]

In [ ]:
job_salary_dicts = [{'job_title': 'Data Scientist', 'salary': 100000}, {'job_title': 'Data Analyst', 'salary': 120000}, {'job_title': 'Data Engineer', 'salary': 80000}, {'job_title': 'Machine Learning Engineer', 'salary': 90000}]
high_paid_jobs = [(job['job_title'], job['salary']) for job in job_salary_dicts if job['salary'] > 90000]
high_paid_jobs

[('Data Scientist', 100000), ('Data Analyst', 120000)]

# More Practice

In [ ]:
salaries_usd = [100000, 120000, 80000, 90000]
salaries_gbp = [salary*0.75 for salary in salaries_usd]
salaries_gbp

[75000.0, 90000.0, 60000.0, 67500.0]

In [ ]:
job_experience = {'Data Scientist': 3, 'Data Analyst': 1, 'Machine Learning Specialist': 4, 'Data Engineer': 2}
beginner_job = [(job, exp) for job, exp in job_experience.items() if exp <= 2]
beginner_job

[('Data Analyst', 1), ('Data Engineer', 2)]

In [ ]:
job_experience = {'Data Scientist': 3, 'Data Analyst': 1, 'Machine Learning Specialist': 4, 'Data Engineer': 2}
beginner_job = [(job, exp) for job, exp in job_experience.items() if exp < 2]
print('The beginner job of', beginner_job(job), 'requires', beginner_job(exp), 'of experience')

NameError: name 'job' is not defined

In [ ]:
job_salary_dicts = [
    {'job_title': 'Data Scientist', 'salary': 100000},
    {'job_title': 'Data Analyst', 'salary': 120000},
    {'job_title': 'Data Engineer', 'salary': 80000},
    {'job_title': 'Machine Learning Engineer', 'salary': 90000}
]
affordable_jobs = [job['job_title'] for job in job_salary_dicts if job['salary'] < 90000]
affordable_jobs

['Data Engineer']

In [ ]:
job_salary_dicts = [
    {'job_title': 'Data Scientist', 'salary': 100000},
    {'job_title': 'Data Analyst', 'salary': 120000},
    {'job_title': 'Data Engineer', 'salary': 80000},
    {'job_title': 'Machine Learning Engineer', 'salary': 90000}
]
affordable_jobs = [(job['job_title'], job['salary']) for job in job_salary_dicts if job['salary'] < 90000]
affordable_jobs

[('Data Engineer', 80000)]

In [ ]:
job_salary_dicts = [
    {'job_title': 'Data Scientist', 'salary': 100000},
    {'job_title': 'Data Analyst', 'salary': 120000},
    {'job_title': 'Data Engineer', 'salary': 80000},
    {'job_title': 'Machine Learning Engineer', 'salary': 90000}
]

high_paid_jobs = [(job['job_title'], job['salary']) for job in job_salary_dicts if job['salary'] > 95000]
high_paid_jobs

[('Data Scientist', 100000), ('Data Analyst', 120000)]