In [ ]:
job_title = 'Data Scientist'
keyword = 'Data'

In [ ]:
def job_title_contains(job_title, keyword):
  if keyword in job_title:
    return True
  else: False

In [ ]:
job_title_contains(job_title_1, check_keyword_1)

True

In [ ]:
def job_title_contains(job_title, check_keyword):
    return keyword in job_title
job_title_contains(job_title, keyword)

True

In [ ]:
def avg_salary():
  avg_salary =  sum(average_salary) / len(average_salary)
  return avg_salary

average_salary = [95000, 120000, 105000, 90000, 130000]
avg_salary()

108000.0

In [ ]:
def salary_stats():
  return {
  'min_salary': min(average_salary),
  'max_salary': max(average_salary),
  'avg_salary': sum(average_salary) / len(average_salary)
  }

average_salary = [95000, 120000, 105000, 90000, 130000]
salary_stats()

{'min_salary': 90000, 'max_salary': 130000, 'avg_salary': 108000.0}

In [ ]:
def salary_stats():
  return {
  'min_salary': min(average_salary),
  'max_salary': max(average_salary),
  'avg_salary': sum(average_salary) / len(average_salary)
  }

average_salary = [95000, 120000, 105000, 90000, 130000]
salary_stats()

function

In [ ]:
def job_posting_summary(job_postings):
  posting_count = len(job_postings)
  total_salary = sum(posting['salary'] for posting in job_postings)
  avg_salary = total_salary / posting_count
  unique_location = list(set(posting['location'] for posting in job_postings))
  return {
      'Posting Count': posting_count,
      'Average Salary': avg_salary,
      'Location': unique_location
  }

#returns a summary dictionary with
# 1. the total number of postings
# 2. the average salary
# 3. and a list of unique locations

job_postings = [
    {'title': 'Data Scientist', 'location': 'New York', 'salary': 95000},
    {'title': 'Data Analyst', 'location': 'San Francisco', 'salary': 85000},
    {'title': 'Machine Learning Engineer', 'location': 'New York', 'salary': 115000}
]
job_posting_summary(job_postings)

{'Posting Count': 3,
 'Average Salary': 98333.33333333333,
 'Location': ['New York', 'San Francisco']}

In [ ]:
def job_posting_summary(job_postings):
    total_postings = len(job_postings)
    total_salary = sum(posting['salary'] for posting in job_postings)
    average_salary = total_salary / total_postings
    unique_locations = list(set(posting['location'] for posting in job_postings))
    return {
        'total_postings': total_postings,
        'average_salary': average_salary,
        'unique_locations': unique_locations
    }

job_postings = [
    {'title': 'Data Scientist', 'location': 'New York', 'salary': 95000},
    {'title': 'Data Analyst', 'location': 'San Francisco', 'salary': 85000},
    {'title': 'Machine Learning Engineer', 'location': 'New York', 'salary': 115000}
]
job_posting_summary(job_postings)

{'total_postings': 3,
 'average_salary': 98333.33333333333,
 'unique_locations': ['New York', 'San Francisco']}

In [ ]:
def student_data_summary(student_data):
  total_students = len(student_data)
  total_grade = sum(infor['grade'] for infor in student_data)
  avg_grade = total_grade / total_students
  unique_schools = list(set(infor['school'] for infor in student_data))
  return {
      'Total Students': total_students,
      'Average Grade': avg_grade,
      'Schools': unique_schools
  }


student_data = [
    {'name': 'Alice', 'school': 'Harvard', 'grade': 90},
    {'name': 'Bob', 'school': 'Stanford', 'grade': 85},
    {'name': 'Charlie', 'school': 'Harvard', 'grade': 92},
    {'name': 'David', 'school': 'MIT', 'grade': 88}
]
student_data_summary(student_data)

{'Total Students': 4,
 'Average Grade': 88.75,
 'Schools': ['MIT', 'Stanford', 'Harvard']}

In [ ]:
def employee_data_summary(employee_data):
  total_employee = len(employee_data)
  total_salary = sum(info['salary'] for info in employee_data)
  avg_salary = total_salary / total_employee
  department = list(set(info['department'] for info in employee_data))
  return{
      'Total Employee': total_employee,
      'Average Salary': avg_salary,
      'Departments' : department
  }

employee_data = [
    {'name': 'John', 'department': 'HR', 'salary': 60000},
    {'name': 'Sara', 'department': 'Finance', 'salary': 70000},
    {'name': 'Mike', 'department': 'IT', 'salary': 80000},
    {'name': 'Anna', 'department': 'HR', 'salary': 75000},
    {'name': 'Tom', 'department': 'IT', 'salary': 85000}
]

employee_data_summary(employee_data)

{'Total Employee': 5,
 'Average Salary': 74000.0,
 'Departments': ['IT', 'Finance', 'HR']}

In [ ]:
from datetime import datetime

def project_summary(project_data):

  project_items = len(project_data)
  total_expected_days = sum(info['expected_days'] for info in project_data)
  avg_expected_days = total_expected_days / project_items

  departments = list(set(info['department'] for info in project_data))

  project_per_manager = {}
  for info in project_data:
    manager = info['manager']
    if manager in project_per_manager:
      project_per_manager[manager] += 1
    else: project_per_manager[manager] = 1

  delayed_projects = []
  for info in project_data:
    start_date = datetime.strptime(info['start_date'], '%Y-%m-%d')
    end_date = datetime.strptime(info['end_date'], '%Y-%m-%d')
    actual_finish_days = (end_date - start_date).days
    if actual_finish_days > info['expected_days']:
      delayed_projects.append(info['name'])
  return {
      "Project Count": project_items,
      "Average expected days": avg_expected_days,
      "Departments": departments,
      "Projects per Manager": project_per_manager,
      "Delayed Projects": delayed_projects
  }


project_data = [
    {
        'name': 'Project A',
        'department': 'Marketing',
        'manager': 'Alice',
        'start_date': '2024-01-10',
        'end_date': '2024-01-30',
        'expected_days': 15
    },
    {
        'name': 'Project B',
        'department': 'Finance',
        'manager': 'Bob',
        'start_date': '2024-02-05',
        'end_date': '2024-02-18',
        'expected_days': 10
    },
    {
        'name': 'Project C',
        'department': 'IT',
        'manager': 'Alice',
        'start_date': '2024-01-15',
        'end_date': '2024-02-10',
        'expected_days': 20
    }
]
project_summary(project_data)

{'Project Count': 3,
 'Average expected days': 15.0,
 'Departments': ['Marketing', 'Finance', 'IT'],
 'Projects per Manager': {'Alice': 2, 'Bob': 1},
 'Delayed Projects': ['Project A', 'Project B', 'Project C']}

NameError: name 'start_date' is not defined