In [ ]:
salaries = [95000, 120000, 105000, 90000, 130000]

In [ ]:
total_salary = 0
for salary in salaries:
  total_salary += salary
avg_salary = total_salary / len(salaries)
print(avg_salary)

108000.0

In [ ]:
salaries = [95000, 120000, 105000, 90000, 130000]
average_salary = lambda salaries: sum(salaries) / len(salaries)
average = average_salary(salaries)
average

108000.0

In [ ]:
salaries = [95000, 120000, 105000, 90000, 130000]
avg_salary = lambda salaries: sum(salaries)/ len(salaries)
average = avg_salary(salaries)
average

108000.0

In [ ]:
job_titles = ['Data Scientist', 'Data Engineer', 'Machine Learning Engineer', 'Data Analyst']
data_job = list(filter(lambda job_titles: 'Data' in job_titles, job_titles))
data_job

['Data Scientist', 'Data Engineer', 'Data Analyst']

In [ ]:
job_postings = [
    {'title': 'Data Scientist', 'skills': ['Python', 'SQL'], 'remote': True},
    {'title': 'Data Analyst', 'skills': ['Excel', 'SQL'], 'remote': False},
    {'title': 'Machine Learning Engineer', 'skills': ['Python', 'TensorFlow'], 'remote': True},
    {'title': 'Software Developer', 'skills': ['Java', 'C++'], 'remote': True}
]

filter_jobs = lambda postings: 'Python' in postings['skills'] and postings['remote']
remote_python_job = list(filter(filter_jobs, job_postings))
remote_python_job

[{'title': 'Data Scientist', 'skills': ['Python', 'SQL'], 'remote': True},
 {'title': 'Machine Learning Engineer',
  'skills': ['Python', 'TensorFlow'],
  'remote': True}]

In [ ]:
job_postings = [
    {'title': 'Data Scientist', 'skills': ['Python', 'SQL'], 'remote': True},
    {'title': 'Data Analyst', 'skills': ['Excel', 'SQL'], 'remote': False},
    {'title': 'Machine Learning Engineer', 'skills': ['Python', 'TensorFlow'], 'remote': True},
    {'title': 'Software Developer', 'skills': ['Java', 'C++'], 'remote': True}
]

remote_python_job = list(filter(lambda postings: 'Python' in postings['skills'] and postings ['remote'], job_postings))
remote_python_job

[{'title': 'Data Scientist', 'skills': ['Python', 'SQL'], 'remote': True},
 {'title': 'Machine Learning Engineer',
  'skills': ['Python', 'TensorFlow'],
  'remote': True}]