In [3]:
import pandas as pd

from datasets import load_dataset
import matplotlib.pyplot as plt

import numpy as np

dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [4]:
df.loc[:10, 'salary_year_avg':'salary_hour_avg']

    salary_year_avg  salary_hour_avg
0               NaN              NaN
1               NaN              NaN
2               NaN              NaN
3               NaN              NaN
4               NaN              NaN
5               NaN              NaN
6               NaN              NaN
7               NaN              NaN
8               NaN              NaN
9               NaN              NaN
10              NaN              NaN

In [16]:
median_year_salary = df['salary_year_avg'].median()
median_hour_salary = df['salary_hour_avg'].median()

print(median_year_salary)
print(median_hour_salary)

115000.0
45.97999954223633

In [ ]:
df_na_filled = df

df_na_filled['salary_year_avg'] = df_na_filled['salary_year_avg'].fillna(median_year_salary)
df_na_filled['salary_hour_avg'] = df_na_filled['salary_year_avg'].fillna(median_hour_salary)

In [24]:
df_na_filled.loc[:10, 'salary_year_avg':'salary_hour_avg']

    salary_year_avg  salary_hour_avg
0          115000.0            45.98
1          115000.0            45.98
2          115000.0            45.98
3          115000.0            45.98
4          115000.0            45.98
5          115000.0            45.98
6          115000.0            45.98
7          115000.0            45.98
8          115000.0            45.98
9          115000.0            45.98
10         115000.0            45.98

In [34]:
df_no_dup = df_na_filled
df_no_dup = df_no_dup.drop_duplicates()

print(f'Length of original dataframe:       {len(df_na_filled)}')
print(f'Length of drop duplicate dataframe: {len(df_no_dup)}')
print(f'Rows dropped:                       {len(df_na_filled) - len(df_no_dup)}')

Length of original dataframe:       785741
Length of drop duplicate dataframe: 785640
Rows dropped:                       101

In [36]:
df_no_dup = df_no_dup.drop_duplicates(subset = ['job_title','company_name'])

print(f'Length of original dataframe:       {len(df_na_filled)}')
print(f'Length of drop duplicate dataframe: {len(df_no_dup)}')
print(f'Rows dropped:                       {len(df_na_filled) - len(df_no_dup)}')

Length of original dataframe:       785741
Length of drop duplicate dataframe: 508042
Rows dropped:                       277699

## Practice Problems

In [52]:
import pandas as pd

from datasets import load_dataset
import matplotlib.pyplot as plt

import numpy as np

dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [75]:
df_cleaned_salary = df.dropna(subset = ['salary_year_avg'])


print(f'Total:       {len(df)}')
print(f'NA_value:    {len(df_cleaned_salary)}')
print(f'Differences: {len(df) - len(df_cleaned_salary)}')

Total:       785741
NA_value:    22003
Differences: 763738

In [ ]:
df_cleaned_location = df.drop_duplicates(subset = ['job_location'])

print(f'Total:       {len(df)}')
print(f'NA_value:    {len(df_cleaned_location)}')
print(f'Differences: {len(df) - len(df_cleaned_location)}')

Total:       785741
NA_value:    17218
Differences: 768523

In [95]:
rate_before = df['salary_rate']
adjusted_rate = df['salary_rate'].fillna('Unknown')

rate_before_check = rate_before.head(10)
adjusted_rate_check = adjusted_rate.head(10)

rate_before_check, adjusted_rate_check

(0    None
 1    None
 2    None
 3    None
 4    None
 5    None
 6    None
 7    None
 8    None
 9    None
 Name: salary_rate, dtype: object,
 0    Unknown
 1    Unknown
 2    Unknown
 3    Unknown
 4    Unknown
 5    Unknown
 6    Unknown
 7    Unknown
 8    Unknown
 9    Unknown
 Name: salary_rate, dtype: object)